# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/

# Platform specific files that need to be tracked.
# Keep the original platforms/ directory tracked ...

# Append two ** after platforms/
platforms/**

# ... with the exception for

# iOS
# ---
# platforms/ios/CordovaLib/Classes/Public/CDVViewController.m

# iOS
!platforms/ios
!platforms/ios/CordovaLib
!platforms/ios/CordovaLib/Classes
!platforms/ios/CordovaLib/Classes/Public
!platforms/ios/CordovaLib/Classes/Public/CDVViewController.m

# Android
# -------
# platforms/android/AndroidManifest.xml
# platforms/android/res/values/themes.xml
# platforms/android/res/drawable/preview_window.xml

!platforms/android
!platforms/android/AndroidManifest.xml

!platforms/android/res
!platforms/android/res/values
!platforms/android/res/values/themes.xml

!platforms/android/res/drawable
!platforms/android/res/drawable/preview_window.xml

# End of platform specific files that are tracked.

plugins/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
